%YAML 1.2
# SPDX-FileCopyrightText: NVIDIA CORPORATION & AFFILIATES
# Copyright (c) 2022-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
---
name: segmentation_postprocessor
components:
- name: input_tensor
  type: nvidia::gxf::DoubleBufferReceiver
  parameters:
    capacity: 12
- type: nvidia::gxf::MessageAvailableSchedulingTerm
  parameters:
    receiver: input_tensor
    min_size: 1
- name: output_video_buffer
  type: nvidia::gxf::DoubleBufferTransmitter
  parameters:
    capacity: 12
- type: nvidia::gxf::DownstreamReceptiveSchedulingTerm
  parameters:
    transmitter: output_video_buffer
    min_size: 1
- name: allocator
  type: nvidia::gxf::BlockMemoryPool
  parameters:
    storage_type: 1
    block_size: 522240
    num_blocks: 40
- name: stream
  type: nvidia::gxf::CudaStreamPool
  parameters:
    dev_id: 0
    stream_flags: 1
    stream_priority: 0
    reserved_size: 1
    max_size: 1
    nvtx_identifier: "unet_decoder_node_stream"
- type: nvidia::isaac_ros::SegmentationPostprocessor
  parameters:
    in: input_tensor
    out: output_video_buffer
    allocator: allocator
    network_output_type: softmax
    data_format: NHWC
    cuda_stream_pool: stream
- type: nvidia::gxf::MemoryAvailableSchedulingTerm
  parameters:
    allocator: allocator
    min_blocks: 1
---
name: segmentation_broadcaster
components:
- name: input_video_buffer
  type: nvidia::gxf::DoubleBufferReceiver
  parameters:
    capacity: 1
- type: nvidia::gxf::MessageAvailableSchedulingTerm
  parameters:
    receiver: input_video_buffer
    min_size: 1
- type: nvidia::gxf::Broadcast
  parameters:
    source: input_video_buffer
- name: output_video_buffer
  type: nvidia::gxf::DoubleBufferTransmitter
  parameters:
    capacity: 1
- type: nvidia::gxf::DownstreamReceptiveSchedulingTerm
  parameters:
    transmitter: output_video_buffer
    min_size: 1
- name: output_raw_segmentation_mask
  type: nvidia::gxf::DoubleBufferTransmitter
  parameters:
    capacity: 1
- type: nvidia::gxf::DownstreamReceptiveSchedulingTerm
  parameters:
    transmitter: output_raw_segmentation_mask
    min_size: 1
---
name: segmentation_mask_generator
components:
- name: input_video_buffer
  type: nvidia::gxf::DoubleBufferReceiver
  parameters:
    capacity: 12
- type: nvidia::gxf::MessageAvailableSchedulingTerm
  parameters:
    receiver: input_video_buffer
    min_size: 1
- name: output_colored_segmentation_mask
  type: nvidia::gxf::DoubleBufferTransmitter
  parameters:
    capacity: 12
- type: nvidia::gxf::DownstreamReceptiveSchedulingTerm
  parameters:
    transmitter: output_colored_segmentation_mask
    min_size: 1
- name: allocator
  type: nvidia::gxf::BlockMemoryPool
  parameters:
    storage_type: 1
    block_size: 1566720
    num_blocks: 40
- name: stream_pool
  type: nvidia::gxf::CudaStreamPool
  parameters:
    dev_id: 0
    stream_flags: 1
    stream_priority: 0
    reserved_size: 1
    max_size: 1
    nvtx_identifier: "segmentation_mask_generator_stream_pool"
- type: nvidia::isaac_ros::SegmentationMaskColorizer
  parameters:
    raw_segmentation_mask_input: input_video_buffer
    colored_segmentation_mask_output: output_colored_segmentation_mask
    allocator: allocator
    color_palette: []
    color_segmentation_mask_encoding: "rgb8"
    stream_pool: stream_pool
---
name: raw_segmentation_mask_sink
components:
- name: input_raw_segmentation_mask
  type: nvidia::gxf::DoubleBufferReceiver
  parameters:
    capacity: 2
- type: nvidia::gxf::MessageAvailableSchedulingTerm
  parameters:
    receiver: input_raw_segmentation_mask
    min_size: 1
- name: sink
  type: nvidia::isaac_ros::MessageRelay
  parameters:
    source: input_raw_segmentation_mask
---
name: colored_segmentation_mask_sink
components:
- name: input_colored_segmentation_mask
  type: nvidia::gxf::DoubleBufferReceiver
  parameters:
    capacity: 2
- type: nvidia::gxf::MessageAvailableSchedulingTerm
  parameters:
    receiver: input_colored_segmentation_mask
    min_size: 1
- name: sink
  type: nvidia::isaac_ros::MessageRelay
  parameters:
    source: input_colored_segmentation_mask
---
components:
- type: nvidia::gxf::Connection
  parameters:
    source: segmentation_postprocessor/output_video_buffer
    target: segmentation_broadcaster/input_video_buffer
- type: nvidia::gxf::Connection
  parameters:
    source: segmentation_broadcaster/output_raw_segmentation_mask
    target: raw_segmentation_mask_sink/input_raw_segmentation_mask
- type: nvidia::gxf::Connection
  parameters:
    source: segmentation_broadcaster/output_video_buffer
    target: segmentation_mask_generator/input_video_buffer
- type: nvidia::gxf::Connection
  parameters:
    source: segmentation_mask_generator/output_colored_segmentation_mask
    target: colored_segmentation_mask_sink/input_colored_segmentation_mask
---
components:
- name: clock
  type: nvidia::gxf::RealtimeClock
- type: nvidia::gxf::EventBasedScheduler
  parameters:
    clock: clock
    stop_on_deadlock: false
    worker_thread_number: 2
    worker_thread_name_id: "unet_decoder_node"
- type: nvidia::gxf::JobStatistics
  parameters:
    clock: clock
